article {
    padding: 0.8rem 0; 
    h2{
        margin-bottom:20px;
    }
    h3,h4{
        margin-bottom:15px;
    }
    .post-image{
        max-height: 300px;
        overflow: hidden;
        margin-bottom: 0.8rem;
        img{
            width: 100%;
        }
    }

    header{
        margin-bottom: 0.9rem;
    }
    .post-title{

    }
    .post-meta{
        border-bottom: 1px solid $border-color;
        border-top: 1px solid $border-color;
        padding:.3rem 0;
        font-size: 0.96rem;
    }
}

.latest-blogs{
    h2{
        padding-bottom: 10px;
        border-bottom: 1px solid $border-color;
    }
}
.latest-post{
    position: relative;
    @include transition(1s, ease);
    a{
        text-decoration: none;
        color:#045D78;        
    }
    .post-image{
        display: block;
        min-height: 300px;
        max-height: 380px;
        overflow: hidden;
        z-index: 0;       
        
        img{            
            width:100%;
        }
    }
    .post-image:before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          rgba(0, 0, 0, 0.0) 0%,
          rgba(0, 0, 0, 1.0) 100%
        );
    }
    .post-meta{
        padding:40px;
        position: absolute;
        width: 100%;
        bottom: 0;
        color:#666666;
        font-family: $font-sans;
        .post-tags{
            font-size: 0.7rem;
            text-transform: uppercase;
            a{
                display: inline-block;
                margin-right: 15px;
                color:rgba(255,255,255,0.6);
                padding:3px 8px;
                background-color: #045D78;                
            }

        }
        .post-title{                        
            font-weight: 800;
            a{color:rgba(255,255,255,0.6);}
        }

        .post-author{
            font-size: .75rem;
            line-height: 1.45em;            
            a{
                color:rgba(255,255,255,0.6);
                font-weight: bold;
            }
        }
    }
}
.latest-post:hover{
    a{color:#0581A7;}
    .post-tags a{
        background-color:#0581A7;
        color:#FFF;
    }
    .post-title,.post-author{                        
        a{color:#FFFFFF;}
    }
    .post-image:before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          rgba(0, 0, 0, 0.0) 0%,
          rgba(0, 0, 0, 0.8) 100%
        );
    }
}

.post-card{
    color:#000;
    text-decoration: none !important;
    .post-image{
        height: 200px;
        overflow: hidden;
        background-color: #000;
        img{
            width: 100%;
            opacity: 0.6;
            @include transition(.6s, ease);
        }        
    }
    .post-tags{
        padding:6px 0 5px 0;
        font-size: 0.7rem;
        text-transform: uppercase;
        span{
            display: inline-block;
            margin-right: 15px;
            color:#FFF;
            padding:3px 8px;
            background-color: #0581A7;                
        }
    }
    .post-title{
        font-size: 0.95rem;
        font-weight: bold;
        line-break: 1.4em;
        color:#000;
        font-family: $font-serif;
    }
    .post-date{
        font-size:0.8rem;
    }
    p{
        color:#000;
        font-size:0.8rem;
        text-decoration: none;
        overflow: hidden;
    }
}
.post-card:hover{
    .post-image{
        img{
            opacity: 100;
            width: 110%;
        }        
    }
    .post-title{
        text-decoration: underline;
    }
    p{
        text-decoration: none;
    }

}