/* Bootstrap override */
$border-radius: 3px;

$masthead-bgcolor: #007bff;
$border-color: rgba(0,0,0,.1);


/* featured card */
$featured-post-tags-font-size: .8rem;
$featured-post-title-font-size: 1.4rem;
$featured-post-date-font-size: 0.8rem;
$featured-post-content-color: rgba(0,0,0,0.6);
$featured-post-content-font-size: 0.85rem;