{% assign post = site.posts.first %}
{% assign author = site.data.people[post.author] %}
{% if post.thumbnail %}
<div class="latest-post">
    <a class="post-image" href="{{ post.url }}">
        <img src="{{ post.thumbnail }}" alt="{{  post.title }}" title="{{  post.title }}" />
    </a>    
    <div class="post-meta">
        <div class="post-tags">
            {% for tag in post.categories %}
                <a href="/{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
        <h3 class="post-title"><a href="{{ post.url }}">{{  post.title }}</a></h3>
        <div class="post-author">
            By <a href="{{ author.url }}">{{ author.name }}</a>
        </div>
    </div>
</div>
{% endif %}