---
layout: default
---
<div class="row">
    <div class="col-md-9 col-sm-8 col-xs-12">
        <h1>{{ page.title }}</h1>
        <hr/>
        <div class="row posts">
            {% for category in site.categories %}
                {% if category[0] == page.category %}
                    {% for post in category[1] %}
                    <div class="post-item">
                        <div class="row">
                            <div class="col-md-4 col-sm-3 col-xs-12">
                                <a href="{{ post.url }}"><img class="img-fluid rounded" src="{{ post.featured_image }}" alt="{{ post.title }}" title="{{ post.title }}" /></a>
                            </div>
                            <div class="col-md-8 col-sm-9 col-xs-12">
                                <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                                <p>{{ post.excerpt }}</p>
                                <a href="{{ post.url }}" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>

    </div>
    <div class="col-md-3 col-sm-4 col-xs-12"></div>
</div>