{% if page.categories %}
<div class="p-3">
    <h4 class="font-italic">Related Posts</h4>    
    <div class="related-posts">
        {% if page.categories.size < 1 %}
            {% assign current_category = page.categories | shift %}
        {% else %}            
            {% assign current_category = page.categories | first %}
        {% endif %}
        {% for category in site.categories %}
            {% if category[0] == current_category %}
                {% for post in category[1] limit: 3 %}
                    {% if post.url != page.url %} 
                        {% if forloop.index < 6 or found %}
                            {% if post.thumbnail %}
                                {% assign thumbnail = post.thumbnail %}
                            {% else %}
                                {% assign thumbnail = '/assets/img/post.png' %}
                            {% endif %}
                            <a class="post mb-3" href="{{ post.url }}">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="post-image">
                                                <img src="{{ thumbnail }}" alt="{{ post.title }}">
                                        </div>                                    
                                    </div>
                                    <div class="relcontent col-md-8 col-sm-8 col-xs-12">
                                        <h5 class="post-title">{{ post.title }}</h5>                                        
                                        <div class="post-date">
                                            {% if post.author %}
                                                {% assign author = site.data.people[post.author] %}    
                                                By {{ author.name }}
                                            {% else %}
                                                {% if post.date %}
                                                    Published {{ post.date | date: "%-d %b %Y" }}
                                                {% endif %}  
                                            {% endif %}  
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <!--a href="{{ post.url }}" class="card related-post mb-3 shadow">
                                <img src="{{ thumbnail }}" class="card-img-top" alt="{{ post.title }}">
                                <div class="card-body pt-0 pb-0"><h5 class="card-title pb-2 pt-2 mt-0 mb-0">{{ post.title }}</h5></div>
                            </a-->
                        {% endif %}
                    {% else %}
                        {% assign found = true %} 
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
<hr />
{% endif %}